
.map {  
      width: auto;
      height: 75%;
      border: 1px solid rgb(37, 194, 241);
      border-radius: 2%;
      border-width: 5%;
}


#map_canvas {  
      width: auto;
      height: 75%;
      border: 1px solid rgb(37, 194, 241);
      border-radius: 2%;
      border-width: 5%;
}




ion-content{
      background: rgb(229, 227, 223);
      #map {
        width: auto;
         height: 75%;
        display: block;
        border: 1px solid rgb(255, 32, 32);
        border-radius: 2%;
        border-width: 5%;
        &.show-map{
          opacity: 1;
        }
      }
    }