
.mapa_Ubicacion {  
      width: auto;
      height:70%;
      border: 0px solid rgb(255, 32, 32);
      border-radius: 1%;
      border-width: 5%;
}


#map_canvas {  
      width: auto;
      height: 70%;
      border: 0px solid rgb(255, 32, 32);
      border-radius: 1%;
      border-width: 5%;
}


ion-input{
  background:rgb(238, 232, 232);
  width: 90%;
  color: black
}

.iconos{
  width: 32px;
  height: 32px;
}

ion-title{
  color:#fff;
}