<ion-header no-border>
  <ion-toolbar color="pruebas" class="tolbarTitle">
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>
<div class="divtitle">
  <ion-label class="labelT">Proceso Inspectativo Sancionador</ion-label>
</div>


<ion-content center text-center>

  <!-- <ion-row justify-content >
         
      </ion-row> -->
      <ion-grid>
                <ion-row center>
                <ion-col>
                    <img src="/assets/logo.jpg">
                </ion-col>
                </ion-row>

                <br>
                <ion-row center class="inputAC">
                    <ion-col>
                        <ion-label class="labelS">Iniciar Sesion</ion-label>
                  </ion-col>
                </ion-row>
              
                <ion-row center>
                    <ion-col>
                        <ion-input placeholder="Nombre" type="text" ></ion-input>
                        
                        <ion-input placeholder="Contraseña" type="text" ></ion-input>
                  </ion-col>
                  
                </ion-row>

                <ion-row center>
                    <ion-col>
                        <ion-button color="pruebas" size="small" (click)="ingresar()">
                          <ion-label class="ingrL" >INGRESAR</ion-label>
                        </ion-button>
                  </ion-col>
                  
                </ion-row>      
                
                <br>
                <br>
                <ion-row>
                  <ion-col>

                  </ion-col>
                </ion-row>

                <ion-row center>
                    <ion-col>
                        <img src="/assets/toptryout_04.jpg">
                    </ion-col>
                </ion-row>
        
      </ion-grid>
  
</ion-content>